* {
    margin: 0%;
    padding: 0%;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    --theme: orange;
}
.navbar {
    background: var(--theme);
}
section {
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 123);
}
.top-main {
    background: rgb(255, 217, 0);
    color: white;
}
.top-main h1 {
    padding: 7.5rem 1rem 1.5rem 1rem;
    font-size: 2.7rem;
}
.top-main p {
    padding: 0 1rem 2.3rem 1rem;
    font-size: 1.2rem;
}
.img-div {
    height: 22%;
    background: url('images/mountain.jpg');
    background-position: center;
    background-size: cover;
}
.button button {
    text-transform: uppercase;
    font-size: 1.7rem;
    height: 4rem;
}
.button .button2 {
    visibility: hidden;
    position: absolute;
}
#about, #contact {
    background: rgb(255, 217, 0);
}
#skills .main img {
    height: 30rem;
}
@media (min-width: 980px) {
    .aboutme {
        margin: 0 20rem 0 20rem !important;
    }
}
@media (min-width: 700px) {
    .aboutme {
        margin: 0 12rem 0 12rem;
    }
}
@media (max-width: 450px) {
    .button .button1 {
        visibility: hidden;
        position: absolute;
    }
    .button .button2 {
        visibility: visible;
        border-radius: 50%;
        width: 4rem;
        position: fixed;
        bottom: 0%;
        right: 0%;
        margin: 1.8rem;
    }
}